<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.model.User"  id="user" autowire = "constructor">
    <constructor-arg name="userId" value = "1526"></constructor-arg>
    <constructor-arg name="name" value = "Venu"></constructor-arg>

</bean>

   <bean class="com.model.Address"  id="address" >
    <constructor-arg name="street" value = "Gangannamapetaa"></constructor-arg>
    <constructor-arg name="zipcode" value = "522201"></constructor-arg>

</bean>



   


</beans>